services:
  spring:
    image: openjdk:21-jdk
    working_dir: /app
    volumes:
      - ./app:/app               # place your app.jar in ./app
    command: ["java", "-jar", "app.jar"]
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - postgres
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "${POSTGRES_PORT}:5432"
volumes:
  postgres-data:
